/* @import url("字體"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* overscroll-behavior: none; */
    overscroll-behavior-y: none;
    background-color: gray;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
}

.theme-light {
  --background: #f8f8f8;
  --text: #313131;
  --border: rgba(15, 23, 42, 0.1);
}

.theme-dark {
  --background: #313131;
  --text: #f8f8f8;
  --border: rgba(248, 250, 252, 0.06);
}
